global:
    scrape_interval: 30s
    evaluation_interval: 30s

alerting:
    alertmanagers:
        - static_configs:
              - targets: ['alertmanager:9093']

rule_files:
    - "alert.rules.yml"

scrape_configs:
    - job_name: "node"
      scrape_interval: 30s
      static_configs:
          - targets: ["node-exporter:9100"]

    - job_name: "cadvisor"
      scrape_interval: 30s
      static_configs:
          - targets: ["cadvisor:8080"]
